<div class="games">
  <ul class="games-list">
    <li class="game-list_item">
      <h2 class="item-title">Ninja Crazy</h2>
      <button class="button play">play</button>
    </li>
    <li class="game-list_item">
      <h2 class="item-title">Sweet Clash</h2>
      <button class="button play">play</button>
    </li>
    <li class="game-list_item">
      <h2 class="item-title">My Pirate</h2>
      <button class="button play">play</button>
    </li>
    <li class="game-list_item">
      <h2 class="item-title">Gods of Hentai</h2>
      <button class="button play">play</button>
    </li>
  </ul>
</div>
