<header class="page-header">
  <div class="container header">
    <nav class="nav-container">
      <div class="wrap">
        <a href="./index.html" class="logo"
          ><span class="header-aliba">Aliba</span><span class="header-games">Games</span></a
        >
      </div>
      <div class="menu-container">
        <ul class="navigation">
          <li class="nav-item"><a class="nav-link current" href="#">games</a></li>
          <li class="nav-item"><a class="nav-link" href="#">news</a></li>
          <li class="nav-item"><a class="nav-link" href="#">shop</a></li>
        </ul>
        <ul class="registration">
          <li class="reg-item"><a class="header-button">login</a></li>
          <li class="reg-item"><a class="header-button">register</a></li>
          <li class="reg-item"><a class="header-button language">EN</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
