<main class="main">
  <div class="main-container content">
    <div class="hero-content">
      <ul class="slide-list">
        <li class="slider-item">
          <p class="title">New game here</p>
          <h1 class="name">Ninja Crazy</h1>
          <button class="button hero-btn">Play Now</button>
        </li>
        <li class="slider-item">
          <p class="title">Battle Royal</p>
          <h1 class="name">New Fortnite Season</h1>
          <button class="button hero-btn">Play Now</button>
        </li>
      </ul>
    </div>
  </div>
</main>
